*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ccc;
}

.main{
    height: 100vh;
    width: 90%;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;

    border-radius: 10px;
    background-color: #fff;
}
#map{
    height: 40rem;
    width: 40rem;
}

form{
    height: 32rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}

.entry-row{
    margin: 8px;
}

input{
    height: 40px;
    width: 50vh;
    border: none;
    background-color: transparent;
    border-bottom: 1px #444 solid;
}

textarea{
    height: 30vh;
    width: 50vh;
}

button{
    height: 40px;
    width: 50vh;
    margin: 8px;
    border: none;
}